.upload_img {
	width: 100%;
}

#div_upper{
	/*position : absolute;*/
	/*height : 40px;*/
	top : 0px;
}

#img_line {
	width : 100%;
}

#div_list{
	/*position : absolute;*/
	width : 100%;
	/*margin : auto;*/
	/*margin-top: -20px;*/
	margin-bottom: 55px;
}
table{
	width : 100%;
}

table td{
	width : 100%;
	border-bottom: 2px solid black;
	
	padding-top : 10px;	
}

.div_rw_top{
	font-weight: bolder;
	color : #4E3822;
}

#select_branch{
	font-weight: bolder; font-size: 15px; padding: 5px 5px 5px 5px; width: 200px; background-color: #FFFFFF; border: 2px solid #A3A3A3; border-radius: 5px
}

#select_PU{
	font-weight: bolder; font-size: 15px; padding: 5px 5px 5px 5px; width: 200px; margin-top: 10px;  background-color: #FFFFFF; border: 2px solid #A3A3A3; border-radius: 5px
}

#title{
	font-weight: bolder; margin-top: 10px; border-radius:5px; width: 80%; border: 2px solid #A3A3A3; padding: 5px 5px 5px 5px
}

#text_pwd{
	font-weight: bolder; margin-top: 10px; border-radius:5px; width: 35%; border: 2px solid #A3A3A3; padding: 5px 5px 5px 5px;
	margin-left: 10px;
}

textarea{
	width: 93%;
}

#btn_submit{
	width: 63%;
	height: 40px;
	margin-top: 15px;
	border: 1px solid #A3A3A3;
	border-radius: 2px;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* Standard syntax (must be last) */
}

#btn_cancle{
	width: 27%;
	height: 40px;
	margin-top: 15px;
	margin-left: 10px;
	border: 1px solid #A3A3A3;
	border-radius: 2px;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* Standard syntax (must be last) */
}

#branch{
	font-weight: bolder; font-size: 15px; padding: 5px 5px 5px 5px; width: 200px; background-color: #FFFFFF; border: 2px solid #A3A3A3; border-radius: 5px

}

#a_backToList{
	width: 94%;
	height: 30px;
	margin-top: 15px;
	border: 1px solid #A3A3A3;
	border-radius: 2px;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(220, 220, 220, 1)); /* Standard syntax (must be last) */
	text-align: center;
	font-weight: bolder;
	font-size: 18px;
	padding-top: 10px;
}

#div_write{
	position: absolute; top: 8px; right: 10px; z-index: 10; border: 2px solid #A3A3A3; border-radius: 5px; width: 80px; text-align: center; font-weight: bolder
}

#div_serach{
	position: fixed; 
	bottom: 0px;
	background-color: #FFFFFF;
	width: 100%;
	height: 40px;
	float: left;
	font-size: 15px;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 5px;
	box-shadow: 0px -1px 15px #888888;
}
